
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Sen&display=swap');

* {
    box-sizing: border-box;
}


/* Le damos una fuente a todo el contenido/ sacamos el margen */
body{
    font-family: 'Aileron Regular', sans-serif;
    margin: 0;
}



/*  MOVILE */
h1{font-size: 2.8em;}
h2{ font-size: 1.7em;}
h3{ font-size: 1.5em;}
h4{font-size: 1em;}
h5{font-size: 1.2em; color: #D9D9D9;}

p{font-size: 1em;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Sen', sans-serif;}



button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 15px;
    border: 1px solid #505152;
    color: rgba(22, 21, 21, 0.836);
    background-color: rgb(248, 249, 247);
}

 /*  HEADER SECTION 0 */

 .container {
    max-width: 1400px;
    margin: auto; 
 }


/* HEADER */
header {
    background-color: rgb(180, 231, 245);
    background-size: cover;
    background-position: center;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

.logo-text {
    margin: 0;
    padding: 0.7px 26px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 2.3em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 2px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #07495a;
}

header a:hover {
    color: #86c4d2;
}


/* SECTION1 */
#section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh; 
    width: 100vw;
    color: rgb(16, 16, 16);

}

#section1 .container {
    text-align: center; 
    margin-top: 50px;
}

#section1 .LogoSection img {
    width: 150px; 
    height: 100px;
    transition: transform 0.5s;
}

#section1 .LogoSection img:hover {
    transform: scale(1.2);
}


/* SECTION 1a */
#section1a {
    padding: 20px;
    margin: 20px 0 10px 0; 
}

.container1a {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#section1a h2 {
    font-size: 2.5em;
    color: #07495a;
}



/* SECTION 2 */
#section2 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    color: rgb(16, 16, 16);
}

#section2 .container {
    color: #07495a;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.img-p1 {
    max-width: 100%; 
    height: auto; 
    border-radius: 15px;
    opacity: .75;
    margin-left: -100px;
}

.text-content {
    flex: 1;
    text-align: left; 
}

#section2 h2 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

#section2 p {
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 1.5em;
}

/* SECTION 3 */
#section3 {
    padding: 20px;
    margin: 0px 0 ; 
}

.container3 {
    max-width: 1200;
    margin-left: -50px;
    margin-right: 50px;
    text-align: center;
}

#section3 p {
    font-size: 2.5em;
    color: #07495a;
}

#section3 p b {
    display: inline-block;
    animation: parpadeo 2s infinite alternate; 
}

@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

/* IMG SECTION */
.image-section {
    display: flex;
    justify-content: center;
}

.image-container {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-top: 50px;
}
.image-container p{
margin-left: -100px;
font-size: 1em;
color: #07495a;
}

/* SECTION-SERVICES */
#section-services {
    margin: 0;
    background-image: url('/Front-End/fondo-grande.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#section-services .container {
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
    margin-top: 80px;
}

.section-services-texto h2 {
    font-size: 2.5em; 
    color: #07495a;
}

.services h3 {
    font-size: 1.8em; 
    color: #07495a;
    animation: tintineo 3s infinite;
}

.services-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
}

.services-image {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px; 
    animation: tintineo 3s infinite; 
}

.services-content img {
    float: left;
    animation: tintineo 3s infinite; 
}

.services-content p {
    font-size: 1.5em;
    text-align: left;
    margin-left: 20px; 
}

#section-services button {
    background-color: rgba(5, 154, 241, 0.149); 
    color: rgb(22, 21, 21);
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 15px;
    border: 1px solid #505152;
    transition: background-color 0.3s, color 0.3s; 
}

#section-services button:hover {
    background-color: rgba(17, 78, 175, 0.836);
    color: rgb(247, 249, 249);
    cursor: pointer;
}

#section-services .servicios {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    border: 5px solid #07495a;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #ffffff45;
    position: relative;
    font-size: 1.5em;
}


/* SECTION-MISSION-VISION-VALUES */
body {
    margin: 0;
    margin-top: auto;
    background-image: url('/Front-End/fondo-grande.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#section-mission-vision-values {
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    background-image: url('/Front-End/fondo-grande.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#section-mission-vision-values .container {
    color: #07495a;
    max-width: 1200px; 
    margin: 0 auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: left; 
}

#section-mission-vision-values .text-column {
    flex: 1; 
    max-width: 800px; 
}

#section-mission-vision-values h2 {
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 10px;
    color: #07495a;
}

#section-mission-vision-values p {
    text-align: justify;
    margin-right: 2px;
    margin-left: 1px;
    font-size: 1.5em;
}

#section-mission-vision-values .image-column {
    margin-left: 20px; 
}

#section-mission-vision-values img {
    max-width: 350px; 
    height: auto;
    border-radius: 15px;
    float: left; 
    margin-right: 20px; 
    opacity: .75;
    animation: parpadeo 2s infinite;

}

@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}




#footer {
    background-color: #2ec3e81f; 
    margin: 0 auto;
}

#footer .container {
    text-align: center;
}

#footer h2 {
    font-size: 1.6em;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

#footer .iconos {
    padding-top: 10px;
    padding-bottom: 20px;
}

#footer button {
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 10px;
}

#footer .footer-contactos {
    margin-bottom: 50px;
}

.footer-contactos form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#footer p {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0 auto;
}


/* DESKTOP */
@media (min-width: 857px) {
    header {
        position: fixed;
        width: 100%;
    }
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 25px;
  
    }
   
    .logo-text {
        transform: scale(1);
        transition: transform 0.5s;
    }

    .logo-text:hover {
        transform: scale(1.4);
    }
    
    #section1 h1 {
        font-size: 4em;
    }
    #section1 p {
        font-size: 1.1em;
    }
    #section1 img {
        width: 45px;
        height: 45px;
    }

    #section2 .container {
        display: flex;
        /* width: 627px; */
        justify-content: center;
    }
    #section2 p,h2 {
        margin-left: 20px;
        /* max-width: 630vw;
        width: 100%; */
        padding-left: 20px;
    }
    #section3 .container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    #section3  h2, p {
        margin-left: 100px;
    }

    #section3 img {
        width: 300PX;
        height: 400PX;
        margin-right: 100px;
        margin-left: 30px;
    }

    #section4 .container .container-servicios {
        display: flex;
        max-width: 90% ;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 80px;
    
    }
    #section4 .servicios {
        margin-top: 30px;

    }

    .section4-texto h2 {
        margin-bottom: 50px;
    }

    #section4 p {
        padding-bottom: 10px;
    }
    
    #section5 .testimonios {
        max-width: 90%;
        margin-bottom: 20px;
    }
    #section5 .testimonios {
        display: flex;
        justify-content: center;
        border-radius: 19px;
    }
    .img-testimonio {
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 97px;
        max-height:97px;

    }
    #section5 h5 {
        display: none;
        
    }
    #section6 {
        width: 100%;
        height: 350px;
        text-align: center;
    }
    #section6 .container h3 {
        padding-top: 150px;
    }

    #section7 {
        width: 100%;
        height: 350px;
        text-align: center;
    }
    #section7 .container h3 {
        padding-top: 150px;
    }

    
    #footer h2 {
        font-size: 4em;
    
    }
    #footer .iconos img {
        width: 30px;
        height: 30px;
        margin:5px
        
    }
 

  
}